{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'tests/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tests/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tests/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tests/circle.css' %}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    
    <script type="text/javascript" src="{% static 'tests/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'tests/js/toc.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tests/js/toc.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    
    <title>{% block title %}My amazing site{% endblock %}</title>
  </head>
  <body>
    <!-- HEADER -->
    <header id="header" class="{% block headerClass %}home-header{% endblock %}">
    <div class="header-top">
      <nav class="navbar navbar-custom">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs-block" href="{% url 'main_page' %}">Brand</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!--  <li class="dropdown">
                <a href="#" class="dropdown-toggle subjects-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Предметы
                  <span class="caret"></span>
                </a>
                
                
                <ul class="dropdown-menu"  role="menu">
                  <div class="container">
                    <div class="row">
                      <li>
                        
                        <div class="menu-list-par math col-lg-3 col-md-4 col-sm-4 col-xs-12">
                          <a href="mathpage.html"><div class="fullwidth"><img src="{% static 'tests/images/math.png' %}"><span>Математические</span></div></a>
                          <ul class="menu-list math">
                            <a href="#"><li>Арифметика</li></a>
                            <a href="#"><li>Алгебра</li></a>
                            <a href="#"><li>Геометрия</li></a>
                            <a href="#"><li>Информатика</li></a>
                          </ul>
                        </div>
                      </li>
                      <li>
                        
                        <div class="menu-list-par natScience col-lg-3 col-md-4 col-sm-4 col-xs-12">
                          <a href="#"><div class="fullwidth"><img src="{% static 'tests/images/biol.gif' %}"><span>Естественные</span></div></a>
                          <ul class="menu-list natScience">
                            <a href="#"><li>Физика</li></a>
                            <a href="#"><li>Химия</li></a>
                            <a href="#"><li>Биология</li></a>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <div class="menu-list-par langs col-lg-3 col-md-4 col-sm-4 col-xs-12"><a href="#"><div class="fullwidth"><img src="{% static 'tests/images/lit.jpeg' %}"><span>Филологические</span></div></a>
                        <ul class="menu-list langs">
                          <a href="#"><li>Русский язык</li></a>
                          <a href="#"><li>Кыргызский язык</li></a>
                          <a href="#"><li>Английский язык</li></a>
                          <a href="#"><li>Литература</li></a>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="menu-list-par socScience col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <a href="#"><div class="fullwidth"><img src="{% static 'tests/images/hist.jpg' %}"><span>Общественно-научные</span></div></a>
                        <ul class="menu-list socScience">
                          <a href="#"><li>История</li></a>
                          <a href="#"><li>География</li></a>
                        </ul>
                      </div>
                    </li> -->
                    
                  <!-- </div>
                </div>
              </ul>
            </li> -->
            
            <li class="tests-link"><a href="{% url 'tests_index' %}">Тесты</a></li>
          </ul>
          
<!--           <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Поиск">
            </div>
            <button type="submit" class="form-submit"></button>
          </form> -->
          
          <a class="navbar-brand brand-bg hidden-xs" href="{% url 'main_page' %}">Brand</a>
          
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="{% url 'student_profile' %}">Мой профиль</a></li>
              <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
              <li><a href="{% url 'student_registration' %}">Регистрация</a></li>
              <li><a href="{% url 'student_login' %}">Войти</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  {% block content %}{% endblock %}
  <!-- FOOTER -->
  <div id="scrollup"><img alt="Прокрутить вверх" src="{% static 'tests/images/up.png' %}"></div>
  
  <footer id="footer">
    <div class="footer1 ">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="first-column">
              <h2>Brand</h2>
              <p>Название компании   </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="second-column">
              <h3>Наша миссия</h3>
              <p>Мы делаем мир лучше</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom ">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="copyright">
              © 2017, KGTest, All rights reserved
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="design">
              <a href="#">Therms of use </a> |  <a target="_blank" href="#">Privacy notice</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="social-icons">
              <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social">FB</i></a>
              <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social">TW</i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social">G+</i></a>
              <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social">MAIL</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="{% static 'tests/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'tests/js/bundle.js' %}"></script>
</body>
</html>