<!-- <header id="header" class="logout-header"> -->
{% extends "tests/base.html" %}
{% load static %}
{% block title %}  Выход | Тесты  {% endblock %}
{% block headerClass %}logout-header{% endblock %}
{% block content %}
    <div class="logged-out-header">
     <h2>Вы вышли из аккаунта</h2>
    </div>
       </header><!-- /header --> 
    <div class="container">
    <div class="page-content">
       <div> Bye</div>
       </div>
    </div>
{% endblock %}

