{% extends "tests/base.html" %}
{% load static %}
{% block title %} Вход | Тесты {% endblock %}
{% block headerClass %}login-header{% endblock %}
{% block content %}
</header><!-- /header -->
  <div class="login-container">
      <div class="container">
      <div class="page-content">
       <!--  <ul class="social-container">
        <h3>Вход в профиль через социальные сети</h3>
             <li><a class="google" href=""><img src="{% static 'tests/images/google.png' %}" alt=""> </a></li>
           <li> <a class="facebook" href=""><img src="{% static 'tests/images/fb.png' %}" alt=""> </a> </li>
            <li><a class="vkontakte" href=""> <img src="{% static 'tests/images/vk.png' %}" alt=""></a> </li>
            <li><a class="odnoklassniki" href=""><img src="{% static 'tests/images/ok.png' %}" alt=""> </a></li>
        </ul>
        <div class="or">
            или
        </div> -->
        <div class="account-container">
            <h3>Вход в аккаунт Тестов</h3>
           
            <form class="login-form" name="LoginForm" action="/login/" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
               <p> <input type="text" id="username" name="username"  placeholder="Логин"></p>
                <p><input type="password" name="password" id="password"  placeholder="Пароль"></p>
               <p> <button class="signin-button" type="submit">Войти</button></p>
                
            </form>
            <div class="extra-links">
            <!-- <a href="#">Забыли пароль?</a>
            <span class="separator">|</span> -->
                <a href="{% url 'student_registration' %}">Зарегистрироваться</a>
                </div>
        </div>
       </div>
      </div>
  </div>

{% endblock %}