{% extends "tests/base.html" %}
{% load static %}
{% block title %}Главная | Тесты{% endblock %}
{% block headerClass %}home-header{% endblock %}
{% block content %}
</header>
<div class="home-container">
      <div class="container">
            <div class="page-content">
                  <div class="container-top">
                        <ul class="content-menu scroll-menu"  role="menu">
                              <li class="math matemat"><a href="#matematika">Математика</a> </li>
                              <li class="math algebra"><a href="#algebra">Алгебра</a> </li>
                              <li class="math geometr"><a href="#geometr">Геометрия</a> </li>
                              <!-- <li class="inf"><a href="#inf">Информатика</a></li> -->
                              <li class="fizika nature"><a href="#fizika">Физика</a></li>
                              <li class="biolog nature"><a href="#biolog">Биология</a> </li>
                              <li class="himiya nature"><a href="#himiya">Химия</a></li>
                              <li class="istor social"><a href="#istor">История</a></li>
                              <li class="geograf social"><a href="#geograf">География</a></li>
                              <li class="russ lang"><a href="#russ">Русский язык</a></li>
                              <li class="kyrgyz lang"><a href="#kyrgyz">Кыргызский язык</a></li>
                              <li class="english lang"><a href="#english">Английский язык</a></li>  <li class="liter lang"><a href="#liter">Литература</a></li>
                        </ul>
                  </div>
                  <div class="main-content">
                        <ul class="subjects"  role="menu">
                              <li>
                                    <div id="matematika" class="row  math">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/mathem.png' %}"><h2>Математика</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="matemat math list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">Алгебра</a></li>
                                                      <li><a href="#">Геометрия</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              <li>
                                    <div id="algebra" class="row math">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/algeb.png' %}"><h2>Алгебра</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="algebra math list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              <li>
                                    <div id="geometr" class="row math">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/geom.png' %}"><h2>Геометрия</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="geometr math list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              <li>
                                    <div id="fizika" class="row nature">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/fizika.png' %}"><h2>Физика</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="fizika nature list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              <li>
                                    <div id="biolog" class="row  nature">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/biol.png' %}"><h2>Биология</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="biolog nature list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              <li>
                                    <div id="himiya" class="row  nature">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/chem.png' %}"><h2>Химия</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="himiya nature list ">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              
                              <li>
                                    <div id="istor" class="row social">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/hist.png' %}"><h2>История</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="istor social list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              
                              <li>
                                    <div id="geograf" class="row social">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/geog.png' %}"><h2>География</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="geograf social list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              <li>
                                    <div id="russ" class="row lang">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/russk.png' %}"><h2>Русский язык</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="russ lang list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              <li>
                                    <div id="kyrgyz" class="row lang">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/kyrgyz.png' %}"><h2>Кыргызский язык</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="kyrgyz lang list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              <li>
                                    <div id="english" class="row lang">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/engl.png' %}"><h2>Английский язык</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="english lang list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              <li>
                                    <div id="liter" class="row lang">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <a href="#"> <img src="{% static 'tests/images/lit.png' %}"><h2>Русская литература</h2></a>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="liter lang list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>
                              
                              <!-- <li>
                                    <div id="inf" class="row">
                                          <div class="list-title col-lg-4 col-md-5 col-sm-12 col-xs-12">
                                                <h2><a href="#"> <img src="{% static 'tests/images/inf.jpg' %}">Информатика</a></h2>
                                          </div>
                                          <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                                                <ul class="inf list">
                                                      <li><a href="#">1</a></li>
                                                      <li><a href="#">2</a></li>
                                                      <li><a href="#">3</a></li>
                                                </ul>
                                          </div>
                                    </div>
                              </li>-->
                              
                              <!-- </div>    -->
                        </ul>
                  </div>
            </div>
      </div>
</div>
{% endblock %}