{% extends "tests/base.html" %}

{% block title %}My amazing test page{% endblock %}

{% block content %}
    <div class="subject-page-header">
      <h1>Алгебра</h1>
   </div>
   </header><!-- /header -->  
        
        <div class="subject-container">
        <!--  <div class="nextTest mathNextTest">
            <h3>Начать тестирование по разделу Математика</h3> 
            <p>Всего вопросов по данному тесту - 120</p> -->
            <!-- <button class="startNextTest btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" type="button">Начать</button> -->
                  <div id="root"></div>
         <!--   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
        <!-- </div> -->
        <div class="mathpage-content">

        <div class="row">
        
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="contents-container">
          <h3>Содержание</h3>

             <ul class="contents scroll-menu"  role="menu">           
             <!--  <li class="arifmet toc"><a href="#arifmet">Арифметика</a> </li>
              <li class="first toc"><a href="#first">1-й класс</a></li>
              <li class="second toc"><a href="#second">2-й класс</a></li>
              <li class="third toc"><a href="#third">3-й класс</a></li>         
              <li class="fourth toc"><a href="#fourth">4-й класс</a></li>
              <li class="fifth toc"><a href="#fifth">5-й класс</a></li>
              <li class="algebra toc"><a href="#algebra">Алгебра</a></li>
              <li class="geometr toc"><a href="#geometr">Геометрия</a> </li>
              <li class="matan toc"><a href="#matan">Математический анализ</a></li>
              <li class="diffur toc"><a href="#diffur">Дифференциальные уравнения</a></li>
              <li class="kompanal toc"><a href="#kompanal">Комплексный анализ</a></li>            -->
            </ul>
          </div>
        </div>


          <div class="subject-content col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="themes"  role="menu">
              <li>
              <div id="toc arifmet">  
              <div class="theme-top">
                  <a href="#"> <img src="../images/math.png">Арифметика</a>  <div id="root"></div>           
              <button class="startArifmet">Начать</button>  
              </div>                           
               <ul class="arifmet list">
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star"></div>
                  </div>
                  <div class="testName">Сложение</div>              
              </div>
              </a>
              </li>
              <li>
              
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star"></div>
                  </div>  
              <div class="testName">Вычитание</div>           
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">Умножение</a>
                  </div>
              </li>  
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">Деление</div>
                  </div>
              </li> 
              </a>         
              </ul>
              </div>
              </li>
              <li>
              <div id="toc first">  
              <div class="theme-top">          
              <a href="#"> <img src="../images/rus.png">1-й класс</a>
              <button class="startFirst">Начать</button>  
              </div>
              <ul class="first list">
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                   <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                   <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>
              </ul>
              </div>
              </li>
              <li>
              <div id="toc second">  
              <div class="theme-top">          
              <a href="#"> <img src="../images/kg.jpg">2-й класс</a>
              <button class="startSecond">Начать</button>  
              </div>
              <ul class="second list">
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                  <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>  
              </ul>
              </div>
              </li>
              <li>
              <div id="toc third">   
              <div class="theme-top">        
              <a href="#"> <img src="../images/eng.png">3-й класс</a>
              <button class="startThird">Начать</button>  
              </div>
              <ul class="third list">
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                  <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>  
              </ul>
              </div>
              </li>
              <li>
              <div id="toc fourth">  
              <div class="theme-top">          
              <a href="#"> <img src="../images/hist.jpg">4-й класс</a>
              <button class="startFourth">Начать</button>  
              </div>
              <ul class="fourth list">
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                  <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>
              </ul>
              </div>
              </li>
              <li>
              <div id="toc fifth">  
              <div class="theme-top">        
              <a href="#"> <img src="../images/lit.jpeg">5-й класс</a> 
              <button class="startFifth">Начать</button>  
              </div>           
              <ul class="fifth list">
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                  <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>
              </ul>
              </div>
              </li>
              <li>
              <div id="toc algebra"> 
              <div class="theme-top">          
              <a href="#"> <img src="../images/geog.jpg">Алгебра</a>
              <button class="startAlgebra">Начать</button>  
              </div>
              <ul class="algebra list">
              <li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                  <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>
              </ul>
              </div>
              </li>
              <li>
              <div id="toc geometr"> 
              <div class="theme-top">           
              <a href="#"> <img src="../images/biol.gif">Геометрия</a>
              <button class="startGeometr">Начать</button>  
              </div>
              <ul class="geometr list">
              <li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                  <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>
              </ul>
              </div>
              </li>
              <li>
              <div id="toc matan">     
              <div class="theme-top">      
              <a href="#"> <img src="../images/inf.jpg">Математический анализ</a>  <button class="startMatan">Начать</button>  
              </div>         
               <ul class="matan list">
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                  <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>
              </ul>
              </div>
              </li>
              <li>
              <div id="toc diffur">  
              <div class="theme-top">         
              <a href="#"> <img src="../images/fizika.gif">Дифференциальные уравнения</a>
              <button class="startDiffur">Начать</button>  
              </div>
              <ul class="diffur list">
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                  <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>
              </ul>
              </div>
              </li>
              <li>
              <div id="toc kompanal">
              <div class="theme-top">
              <a href="#"> <img src="../images/chem.png">Комплексный анализ</a>
              <button class="startKompan">Начать</button>  
              </div>
              <ul class="kompanal list">
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">1</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>  
                  <div class="testName">2</div>
              </div>
              </a>
              </li>
              <li>
              <a href="#">
              <div class="test-container">
                  <div class="circle">
                  <div class="star">  </div>
                  </div>
                  <div class="testName">3</div>
                  </div>
              </a>
              </li>
              </ul>
              </div>
              </li>          
            </ul>
          </div>
         </div>
        </div>
    </div>
{% endblock %}

