{% extends "tests/base.html" %}
{% load static %}
{% block title %}  Регистрация | Тесты  {% endblock %}
{% block headerClass %}regist-header{% endblock %}
{% block content %}
</header>
 <div class="registration-container">
      <div class="container">
      <div class="page-content">
       <!--  <ul class="social-container">
        <h3>Вход в аккаунт через социальные сети</h3>
             <li><a class="google" href=""><img src="{% static 'tests/images/google.png' %}" alt=""> </a></li>
           <li> <a class="facebook" href=""><img src="{% static 'tests/images/fb.png' %}" alt=""> </a> </li>
            <li><a class="vkontakte" href=""> <img src="{% static 'tests/images/vk.png' %}" alt=""></a> </li>
            <li><a class="odnoklassniki" href=""><img src="{% static 'tests/images/ok.png' %}" alt=""> </a></li>
        </ul>
        <div class="or">
            или
        </div> -->
        <div class="account-container">
            <h3>Регистрация аккаунта в Тестах</h3>
            <form action="/registration/" method="post" class="signup-form">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <p><label>Фамилия</label><input type="text" name="last_name" id="last_name"  placeholder="Фамилия" data-validation="custom,length" data-validation-regexp="(?=.*[\s]?)([a-zа-я\s]+)$" data-validation-length="2-20"></p>
                <p> <label>Имя</label><input type="text" name="first_name" id="first_name" placeholder="Имя" data-validation="custom,length" data-validation-regexp="(?=.*[\s]?)([a-zа-я\s]+)$" data-validation-length="2-20"></p>
                <p><label>Отчество</label><input type="text" name="patronymic" id="patronymic"  placeholder="Отчество" data-validation="custom,length"  data-validation-length="max20"></p>
                <p><label class="location">Населенный пункт</label><input type="text" class="location" name="location" id="location"  placeholder="Населенный пункт" data-validation="length" data-validation-length="3-100"></p>
                <p><label>Школа</label><input type="text" name="school" id="school"  placeholder="№ или название школы" data-validation="length,letternumeric" data-validation-length="1-20"></p>
                <p><label>Класс</label><input type="text" name="grade" id="grade"  placeholder="Класс"  data-validation="length,letternumeric" data-validation-length="1-10"></p>
                <p><label>Пароль</label><input type="password" name="password" id="password"  placeholder="Пароль" data-validation="strength" data-validation-strength="1"></p>
               <p> <button class="signup-button" type="submit">Регистрация</button></p>
                <!-- <p> <input type="text" id="last_name" name="last_name"  placeholder="Фамилия"></p>
                 <p><input type="text" name="first_name" id="first_name"  placeholder="Имя"></p>
                 <p><input type="text" name="patronymic" id="first_name"  placeholder="Отчество"></p>
                 <p><input type="text" name="location" id="first_name"  placeholder="Населенный пункт"></p>
                 <p><input type="text" name="school" id="first_name"  placeholder="Школа"></p>
                 <p><input type="text" name="grade" id="first_name"  placeholder="Класс"></p>
                 <p><input type="password" name="password" id="password"  placeholder="Пароль"></p> -->
               <!--  {{ user_form.as_p }}
                {{ student_form.as_p }}
                <p> <button class="signup-button" type="submit">Регистрация</button></p> -->
            </form>
            <form class="signup-form">
               
<!--                 <p><label>Фамилия</label><input type="text" name="last_name" id="last_name"  placeholder="Фамилия"></p>
                <p> <label>Имя</label><input type="text" name="first_name" id="first_name" placeholder="Имя"></p>
                <p><label>Отчество</label><input type="text" name="patronymic" id="patronymic"  placeholder="Отчество"></p>
                <p><label class="location">Населенный пункт</label><input type="text" class="location" name="location" id="location"  placeholder="Населенный пункт"></p>
                <p><label>Школа</label><input type="text" name="school" id="school"  placeholder="№ или название школы"></p>
                <p><label>Класс</label><input type="text" name="grade" id="grade"  placeholder="Класс"></p>
                <p><label>Пароль</label><input type="password" name="password" id="password"  placeholder="Пароль"></p>
               <p> <button class="signup-button" type="submit">Регистрация</button></p> -->
                
            </form>
           </div>
        </div>
       </div>
      </div>
{% endblock %}