{% extends "tests/base.html" %}
	{% load static %}
	{% block title %} Профиль ученика {% endblock %}
	{% block headerClass %}profile-header{% endblock %}
	{% block content %}
		<div class="student-profile-header">
			<h2>Добро пожаловать, {{user.first_name}}</h2>
		</div>
		</header><!-- /header -->
		<div class="profile-page-container">
		<div class="page-content">
			<div class="container">
              <div class="profile-page-top">
				<div class="row">
					<div class="page-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h2>Профиль пользователя {{user.username}}</h2>
					</div>
				</div>

				<div class="row">
					<div class="profile-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h3>Ваши результаты:</h3>
					</div>
				</div>
				</div>
				<div class="table-head">
				<div class="row">
					<div class="topicName col-lg-3 col-md-3 col-sm-3 col-xs-3">
						Тема
					</div>
					<div class="rightAnswers col-lg-2 col-md-2 col-sm-2 col-xs-2">
						Правильных ответов
					</div>
					<div class="resultPerc col-lg-3 col-md-3 col-sm-3 col-xs-3">
						Результат в процентах
					</div>
					<div class="pass col-lg-2 col-md-2 col-sm-2 col-xs-2">
						Порог прохождения
					</div>
				</div>
				</div>
				<ul class="subjects-result"  role="menu">
					<li>
						<div class="subject-top">
							<h4> Алгебра</h4>
						</div>
						<ul class="topics list">
							<li>
								<ul class="result-row row">
									<li class="testName col-lg-3 col-md-3 col-sm-3 col-xs-3">
										Производная
									</li>
									<li class="rightAnswers col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<!-- 22 из 30 -->
									</li>
									<li class="c100 percCircle"  data-true="28" data-total="30">
											<span></span>
											<div class="slice">
												<div class="bar"></div>
												<div class="fill"></div>
											</div>
									</li>
									<li class="isPass col-lg-3 col-md-3 col-sm-3 col-xs-3">
										<span>	</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="result-row row">
									<li class="testName col-lg-3 col-md-3 col-sm-3 col-xs-3">
										Тест 2
									</li>
									<li class="rightAnswers col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<!-- 20 из 30 -->
									</li>
										<li class="c100 percCircle"  data-true="20" data-total="30">
											<span text="50"></span>
											<div class="slice">
												<div class="bar"></div>
												<div class="fill"></div>
											</div>
										</li>
									<li class="isPass col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<span>	</span>
									</li>
								</ul>


							</li>
						</ul>
					</li>
				</ul>
				<ul class="subjects-result"  role="menu">
					<li>
						<div class="subject-top">
							<h4> Алгебра</h4>
						</div>
						<ul class="topics list">
							<li>
								<ul class="result-row row">
									<li class="testName col-lg-3 col-md-3 col-sm-3 col-xs-3">
										Производная
									</li>
									<li class="rightAnswers col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<!-- 22 из 30 -->
									</li>
										<li class="c100 percCircle"  data-true="12" data-total="30">
											<span></span>
											<div class="slice">
												<div class="bar"></div>
												<div class="fill"></div>
											</div>
										</li>
									<li class="isPass col-lg-3 col-md-3 col-sm-3 col-xs-3">
										<span>	</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="result-row row">
									<li class="testName col-lg-3 col-md-3 col-sm-3 col-xs-3">
										Тест 2
									</li>
									<li class="rightAnswers col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<!-- 20 из 30 -->
									</li>
										<li class="c100 percCircle"  data-true="20" data-total="30">
											<span text="50"></span>
											<div class="slice">
												<div class="bar"></div>
												<div class="fill"></div>
											</div>
										</li>
									<li class="isPass col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<span>	</span>
									</li>
								</ul>

								
							</li>
						</ul>
					</li>
				</ul>
				<ul class="subjects-result"  role="menu">
					<li>
						<div class="subject-top">
							<h4> Алгебра</h4>
						</div>
						<ul class="topics list">
							<li>
								<ul class="result-row row">
									<li class="testName col-lg-3 col-md-3 col-sm-3 col-xs-3">
										Производная
									</li>
									<li class="rightAnswers col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<!-- 22 из 30 -->
									</li>
										<li class="c100 percCircle"  data-true="12" data-total="30">
											<span></span>
											<div class="slice">
												<div class="bar"></div>
												<div class="fill"></div>
											</div>
										</li>
									<li class="isPass col-lg-3 col-md-3 col-sm-3 col-xs-3">
										<span>	</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="result-row row">
									<li class="testName col-lg-3 col-md-3 col-sm-3 col-xs-3">
										Тест 2
									</li>
									<li class="rightAnswers col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<!-- 20 из 30 -->
									</li>
										<li class="c100 percCircle"  data-true="20" data-total="30">
											<span text="50"></span>
											<div class="slice">
												<div class="bar"></div>
												<div class="fill"></div>
											</div>
										</li>
									<li class="isPass col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<span>	</span>
									</li>
								</ul>

								
							</li>
						</ul>
					</li>
				</ul>
			</div>
			</div>
		</div>
	{% endblock %}