
{% extends "tests/base.html" %}
{% load static %}

{% block title %}My amazing subject page{% endblock %}

{% block content %}

<div class="subjgroup-page-header">
    <h1>Алгебра</h1>
  </div>
  </header><!-- /header -->  
    <div class="mathgroup-container">
      <div class="container">
      <div class="page-content">
        <div class="container-top">
          
        </div>
          <ul class="subjects"  role="menu">
           <!-- <div class="dropdown-subjects">  -->
     
            <!-- <li>
            <div id="arifmet list" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="bigLink"><h2>  <img src="{% static 'tests/images/math.png' %}">Математика</h2>
            <div class="subj-desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="arifmet list">
            <li><a href="#">Сложение</a></li>  
            <li><a href="#">Вычитание</a></li>  
            <li><a href="#">Умножение</a></li>  
            <li><a href="#">Деление</a></li>        
            </ul>
            </div>
            </div>
            </li>
            <li>
            <div id="first list" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="bigLink"><h2>  <img src="{% static 'tests/images/math.png' %}">1-й класс</h2>
            <div class="subj-desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="first list">
            <li><a href="#">Lorem ipsum</a></li>  
            <li><a href="#">dolor sit amet</a></li>  
            <li><a href="#">consectetuer adipiscing elit</a></li>  
            </ul>
            </div>
            </div>
            </li>
            <li>
            <div id="second list" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="bigLink"><h2>  <img src="{% static 'tests/images/math.png' %}">2-й класс</h2>
            <div class="subj-desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="second list">
            <li><a href="#">Lorem ipsum</a></li>  
            <li><a href="#">dolor sit amet</a></li>  
            <li><a href="#">consectetuer adipiscing elit</a></li> 
            <li><a href="#">dolor sit amet</a></li>  
            <li><a href="#">consectetuer adipiscing elit</a></li> 
            </ul>
            </div>
            </div>
            </li>
            <li>
            <div id="third list" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="bigLink"><h2>  <img src="{% static 'tests/images/math.png' %}">3-й класс</h2>
            <div class="subj-desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="third list">
            <li><a href="#">Lorem ipsum</a></li>  
            <li><a href="#">dolor sit amet</a></li>  
            <li><a href="#">consectetuer adipiscing elit</a></li>  
            </ul>
            </div>
            </div>
            </li>
            <li>
            <div id="fourth list" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="bigLink"><h2>  <img src="{% static 'tests/images/math.png' %}">4-й класс</h2>
            <div class="subj-desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="fourth list">
            <li><a href="#">Lorem ipsum</a></li>  
            <li><a href="#">dolor sit amet</a></li>  
            <li><a href="#">consectetuer adipiscing elit</a></li>  
            </ul>
            </div>
            </div>
            </li>-->

            <li>
            <div id="nine list" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="bigLink"><h2>  <img src="{% static 'tests/images/math.png' %}">9-й класс</h2>
            <div class="subj-desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            </a>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="nine list">
            <li><a href="#">Lorem ipsum</a></li>  
            <li><a href="#">dolor sit amet</a></li>  
            <li><a href="#">consectetuer adipiscing elit</a></li>  
            </ul>
            </div>
            </div>
            </li> 
            <li>
            <div id="ten list" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="bigLink"><h2>  <img src="{% static 'tests/images/math.png' %}">10-й класс</h2>
            <div class="subj-desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="ten list">
            <li><a href="#">Lorem ipsum</a></li>  
            <li><a href="#">dolor sit amet</a></li>  
            <li><a href="#">consectetuer adipiscing elit</a></li>  
            </ul>
            </div>
            </div>
            </li>
            <li>
            <div id="eleven list" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="bigLink"><h2> <img src="{% static 'tests/images/math.png' %}">11-й класс</h2>
            <div class="subj-desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="eleven list">
            <li><a href="#">Lorem ipsum</a></li>  
            <li><a href="#">dolor sit amet</a></li>  
            <li><a href="#">consectetuer adipiscing elit</a></li>  
            </ul>
            </div>
            </div>
            </li>
            <!-- <li>
            <div id="matan list" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="bigLink"><h2>  <img src="{% static 'tests/images/math.png' %}">Математический анализ</h2>
            <div class="subj-desc">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            </a>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="matan list">
            <li><a href="#">Lorem ipsum</a></li>  
            <li><a href="#">dolor sit amet</a></li>  
            <li><a href="#">consectetuer adipiscing elit</a></li>  
            </ul>
            </div>
            </div>
            </li> -->
             
           <!-- </div>    -->
          </ul>
        
       </div>
      </div>
  </div>
{% endblock %}

