{% extends "tests/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Тесты{% endblock %}
{% block headerClass %}test-header{% endblock %}
{% block content %}
  <div class="subject-page-header">
    <h1> {{user.first_name}} </h1>
  </div>
  </header><!-- /header -->
  
  <div class="subject-container">
<div class="page-content">
    <div class="testpage-content" id="test-content">

      <div class="row">

  
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="contents-container">
            <h3>Содержание</h3>
            <ul class="contents scroll-menu" id="scroll-menu" role="menu">
            </ul>
          </div>
        </div>
        <div id="subjects-root" class="subject-content col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <ul class="subjects"  role="menu">
            {% for subject in subjects %}
              <li>
                <div id="toc subjects">
                  <div class="subject-top">
                    <a href="#"> <!-- <img src="../images/math.png"> -->{{subject.name}}</a>
                    
                  </div>
                  <ul class="topic list">
                    {% for topic in topics_by_subject|get_item:subject.id %}
                      
                      <li>
                        <a href="#">
                          <div class="test-container">
                            <div class="circle">
                              <div class="star"></div>
                            </div>
                            <div class="testName">{{topic.name}}
                              <!-- <div class="testButton" id="{{topic.name}}">
                                
                              </div> -->
                            <button class="startTest" >Начать</button> 
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endfor %}
                    
                  </ul>
                </li>
              {% endfor %}
              
            </ul>
          </div>
        </div>
    </div>
  </div>


{% endblock %}