/************************************************************
*************************GENERAL******************************
*************************************************************/

@media screen and (min-width: 1024px){
  header .container-fluid >*, footer .footer1 >* , footer .footer-bottom >*{
  max-width:1200px /*!important*/;
  margin-left: auto !important;
  margin-right: auto !important;
}
 .home-container .container, .page-content{
  max-width: 1200px /*!important*/;
  margin-left: auto !important;
  margin-right: auto !important;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  header .container-fluid >*, footer .footer1 >* , footer .footer-bottom >*{
  /*max-*/width:1200px /*!important*/;
  margin-left: auto !important;
  margin-right: auto !important;
}
  .page-content, .container{
    max-width: 90%;
    left: auto;
    right: auto;
    /*padding-left:0; */
}
}
@media screen and (max-width: 767px){
 header .container-fluid >*, footer .footer1 >* , footer .footer-bottom >*{
  /*max-*/width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  /*padding: 0 !important;*/
}
 .page-content >*, .container, #bs-example-navbar-collapse-1>*, .row > *{
  max-width:95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  /*padding: 0 !important;*/
}
div#test-content>*{
  max-width:95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  /*padding: 0 !important;*/
 }
}
body{
 font-family: 'Rubik', sans-serif  !important;
 color:#444;
}

/*ССЫЛКИ В МЕНЮ*/
.navbar-custom a:hover{
   color: #01796F !important;
}
.nav > li > a:focus, .nav > li > a:hover{
  background: #fff;
}
/*МАЛИНОВЫЙ*/
.content-menu .math a:hover,.dropdown-menu .math span a:hover,
.dropdown-menu .math a li ,.dropdown-menu .math a:hover {
   color: #C5065B !important; 
}
/*ЗЕЛЕНЫЙ*/
.content-menu .nature a:hover,.dropdown-menu .natScience span a:hover,
.dropdown-menu .natScience a li ,.dropdown-menu .natScience a :hover{
   color: #01796F !important;
}
/*ФИОЛЕТОВЫЙ*/
.content-menu .social a:hover, .dropdown-menu .socScience span a:hover,
.dropdown-menu .socScience a li,.dropdown-menu .socScience a:hover
{
   color: #11accd !important;
}
/*СИНИЙ*/
.content-menu .lang a:hover, .dropdown-menu .langs span a:hover,
.dropdown-menu .langs a li,.dropdown-menu .langs a:hover
{
   color: #4b0082 !important;
}
/************************************************************
*************************HEADER******************************
*************************************************************/
.home-header{
    width:100%;
    background-image: url(images/images.jpg)!important ;
    /*background-size: 100% 100%; */
}

.header-top{
    border-bottom:rgba(255,255,255,0.5)  1px solid ;
}
header .row{
   padding: 0 !important;
}
.navbar{
  margin-bottom: 0px !important  ;
  padding:5px 0;
}
.navbar-custom, .navbar-custom a{
  color: #fff;
}

.navbar-custom  li.dropdown a.subjects-menu:focus{
  background-color: rgba(255,255,255,0) !important;
  color: #444;
}
/*.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626!important;
    background-color: #f5f5f5!important;
}*/
.navbar-custom:hover, .navbar-custom:hover a{
  background-color: #fff;
  color: #111;
}
.navbar-custom:hover .navbar-toggle.collapsed{
  background: url(images/btn_menu.png);
  background-size: 100% 100%;
}
.navbar-toggle:focus{
  background: url(images/btn_menu.png);
  background-size: 100% 100%;
}
.navbar-toggle.collapsed{
  background: url(images/btn_menuwhite.png);
  background-size: 100% 100%;
}

.home-header{
   margin:0px 0px !important;
   min-height:300px;
}
.dropdown-menu span a{
  color: #333;
}
.nav > li.dropdown.open { position: static; }

.nav > li.dropdown.open .dropdown-menu {
display:table; 
width: 100%; 
left:0; 
right:0; 
 }

.nav > .dropdown.open/* .dropdown-menu*/ { 
text-align: center; 
left:0; 
right:0; 
 }

.nav-white{
  background-color: #fff;
  color: #444;
}
.nav-white a{
  color: #444;
}
.nav-white a.subjects-menu:focus{
  color: #fff;
}
.dropdown-menu{
  padding:transparent !important;
/*  background-color: #fff !important;*/
}
.dropdown-menu,  .dropdown-menu ul{
    list-style: none;
}
.dropdown-menu .container > li {
    /*display: table-cell;*/
    /*display: inline-block;*/
    /*width: 24%;*/
    padding: 10px 1%; 
}
.dropdown-menu .container  li ul {
    border-top: 1px rgba(0,0,0,0.2) solid;
}
.dropdown-menu .container li ul{
    padding-left: 0; 
}
.dropdown-menu .menu-list-par img{
  width:30px;
  height:30px;
  border-radius:50%; 
}
.dropdown-menu .menu-list-par span{
  margin-left: 10px;
  /*height:30px;*/
  /*border-radius:50%; */
}
.dropdown-menu .menu-list-par li{
  margin-left: 40px;
 padding: 5px 0 5px 0;
}
 .menu-list-par .fullwidth{
  width:100%; 
}
.menu-list-par li{
  width:100%; 
}
.brand-bg {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.navbar-form {
  width: 200px;
  position: relative;
}
.navbar-form input, .navbar-form button  {
  border: none;
}
.navbar-form .form-control {
  width: 100%;
  padding: 8px 37px 9px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  background: #f7f7f7;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}
.navbar-form .form-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  cursor: pointer;
  background: url(images/search.png) 50% no-repeat;
  opacity: 0.8;
}
.navbar-form .form-control:hover {
   background: #EEE;
}
input[type="search"] {
  -webkit-appearance: none;
}
header h2{
  color:#fff;
  text-align: center;
  margin-top:30px; 
}

@media screen and (max-width: 1023px){
  .brand-bg {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
}
@media screen and (min-width: 768px){
  header .row{
   padding: 0 !important;
   margin: 30px auto 30px auto !important;
}
.menu-list-par{
  padding-bottom: 15px; 
}
}

@media screen and (max-width: 767px){
 header .row{
   padding: 0 !important;
   margin: 0px auto 0px auto !important;
}

.dropdown-menu .menu-list-par a li{
   color: #444 !important;
}
 /*МАЛИНОВЫЙ*/
.dropdown-menu .math a, .dropdown-menu .math a li:hover {
   color: #C5065B !important; 
}
/*ЗЕЛЕНЫЙ*/
.dropdown-menu .natScience a, .dropdown-menu .natScience a li:hover{
   color: #01796F !important;
}
/*СИНИЙ*/
.dropdown-menu .socScience a, .dropdown-menu .socScience a li:hover{
   color: #11accd !important;
}
/*ФИОЛЕТОВЫЙ*/
.dropdown-menu .langs a, .dropdown-menu .langs a li:hover{
   color: #4b0082 !important;
}

 #bs-example-navbar-collapse-1{
    background-color: #fff !important;
    color:  #444;
    border-top: rgba(0,0,0,0.2) 1px solid;
  }
  #bs-example-navbar-collapse-1 a{
    color:  #444;
  }
  .navbar-nav .dropdown-menu {
    display: block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .dropdown-menu .container .row{
    width: auto;
    padding-top: 0 !important;
  }
    .dropdown-menu .menu-list-par .fullwidth{
    padding: 10px 0 10px 10px;
  }
  .dropdown-menu .menu-list-par{
    border-bottom: rgba(0,0,0,0.2) 1px solid;
  }
    .dropdown-menu .menu-list-par .fullwidth .dropdown-arrow{
    /*float:right;*/
    height: 16px;
    width: auto;
    background: url(images/arrow.png) 50% no-repeat;
 /*background-size: 100% 100%; */
  }
  .navbar-left, .navbar-right{
    margin-left: 0px !important; 
  }
   .navbar-right li{
    
    border-top: rgba(0,0,0,0.2) 1px solid;
  }
  .dropdown-toggle {
    display: none !important;
  }
  .navbar-custom .navbar-nav .dropdown-menu > li > a {
    color: #9d9d9d;
  }
   .dropdown-menu .menu-list-par li{
  margin-left: 40px;
  padding: 10px 0 10px 0;
}
  .navbar-form {
  width: 90%;
  position: relative;
}
.dropdown-menu .container > li {
    /*display: table-cell;*/
    /*display: inline-block;*/
    /*width: 100%;*/
    padding: 10px 1%; 
}
.dropdown-menu .container ul{
    /*display: none;*/
    padding-bottom: 5px;
  }
   .tests-link a{
    /*margin-left: 15px !important;*/
   }
  }
/************************************************************
*************************SUBJECT HEADER******************************
*************************************************************/
.subject-page-header{
  height: 100px;
}
.test-header{
    width:100%;
    background: #01796F ;   
}

.test-header h1{
  color:#fff;
  text-align: center;
  margin-top:30px; 
}

/************************************************************
*************************LogIn HEADER******************************
*************************************************************/

.login-header, .regist-header{
    width:100%; 
    color:#fff; 
    background: #01796F;
}
.login-header a , .regist-header a{
    color:#fff; 
}
.login-header:hover, .regist-header:hover{
    color:#444; 
    background: #fff;
}
/*.login-header .navbar-custom, .login-header .navbar-custom a{
  color: #444;
}*/
.login-header .navbar-custom{
  border-bottom: rgba(0,0,0,0.2) solid 1px;
}
.login-header .navbar-toggle.collapsed{
  background: url(images/btn_menu.png);
  background-size: 100% 100%;
}
.nav > li > a.subjects-menu:focus{
  background-color: rgba(255,255,255,0) !important;
  color: #fff;
}
.login-header .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: gray!important;
    border-color: #337ab7!important;
}
.login-header .navbar-custom  li.dropdown a.subjects-menu:focus{
  color: #444;
}
/************************************************************
*************************REGIST HEADER******************************
*************************************************************/
/*.regist-header{
    width:100%; 
    color:#444; 
}
.regist-header a{
    color:#444; 
}*/
/*.regist-header .navbar-custom, .regist-header .navbar-custom a{
  color: #444;
}*/
.regist-header .navbar-custom{
  border-bottom: rgba(0,0,0,0.2) solid 1px;
}
.regist-header .navbar-toggle.collapsed{
  background: url(images/btn_menu.png);
  background-size: 100% 100%;
}
.nav > li > a.subjects-menu:focus{
  background-color: rgba(255,255,255,0) !important;
  color: #fff;
}
.regist-header .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: gray!important;
    border-color: #337ab7!important;
}
.regist-header .navbar-custom  li.dropdown a.subjects-menu:focus{
  color: #444;
}
/************************************************************
*************************PROFILE HEADER******************************
*************************************************************/
.student-profile-header{
  height: 100px;
}
.profile-header{
    width:100%;
    background: url(images/wall1.jpg);  
    /*background-size: 100% 100%; */
}

.student-profile-header{
  color:#fff;
  text-align: center;
}
/************************************************************
*************************LOGOUT HEADER******************************
*************************************************************/
.logged-out-header{
  height: 100px;
}
.logout-header{
    width:100%;
    background: url(images/wall1.jpg); 
}

.logout-header{
  color:#fff;
  text-align: center;
}
/************************************************************
*************************HOME CONTENT******************************
*************************************************************/
/*МАЛИНОВЫЙ*/
.content-menu .math a:hover,.main-content .math h2 a:hover,
.main-content .math li a ,.main-content .math a:hover {
   color: #C5065B !important; 
}
/*ЗЕЛЕНЫЙ*/
.content-menu .nature a:hover,.main-content .nature h2 a:hover,
.main-content .nature li a ,.main-content .nature a :hover{
   color: #1fab54   !important;
}
/*ФИОЛЕТОВЫЙ*/
.content-menu .lang a:hover, .main-content .lang h2 a:hover,
.main-content .lang li a,.main-content .lang a:hover
{
   color: #4b0082 !important;
}
/*СИНИЙ*/
.content-menu .social a:hover, .main-content .social h2 a:hover,
.main-content .social li a,.main-content .social a:hover
{
   color: #11accd !important;
}


/************************************************************
*************************CONTENT******************************
*************************************************************/
/*.page-content{
  min-height:56vh;
}*/
.page-content .subjects-list img{
   border-radius: 50%;
   margin-right: 30px;
    height:70px;
    width:70px;
}

.list-title{
  float: left;
}
.list-title h2{
  float: left;
  word-wrap: break-word; 
    text-align: left;
    vertical-align: center;
}
.list-title img{
  float: left;
  word-wrap: break-word;
}
.home-container, .home-container h2{
  font-weight: 600; 
}
.content-menu{
 display:table; 
font-size: 18px;
color: #444;
text-align: center;
}
.content-menu ul{
    list-style: none;

}
.content-menu > li {
  display: table-cell;
    display: inline-block;
    color: #444;
    padding: 10px 10px; 
}

.content-menu a{
  color: #444;
}
.page-content > ul.subject{
    scroll-behavior: smooth;
}
.page-content a{
  color: #444;
}
.page-content ul{
    list-style: none;
}

.page-content .subjects h2{
  font-size: 24px;
  /*text-transform: uppercase; */
}
.subjects ul.list  li{
word-wrap: break-word;
}
.page-content .subjects > li {
  border-bottom: 1px rgba(0,0,0,0.3)  solid;
}
.home-container{
  margin-bottom: 50px;
}
.page-content .subjects .list li a{
  color: #666;
}
  .list-title h2{
  width:70%;
}
@media screen and (min-width: 1240px){

.page-content{
  min-height:calc(100vh - 100px);
  margin: 30px 0;
}
.registration-container .page-content, .login-container .page-content{
  min-height:calc(100vh - 310px);
}
.home-container .subjects ul.list  li{
    width: 200px;
}
}
@media screen and (min-width: 1024px) and (max-width:1239px){
.page-content{
  min-height:calc(100vh - 300px);
}
.registration-container .page-content, .login-container .page-content{
  min-height:calc(100vh - 270px);
}
.home-container .subjects ul.list  li{
    width: 200px;
}
}
@media screen and (min-width: 768px) and (max-width:1023px){
.page-content{
  min-height:calc(100vh - 400px);
}
.registration-container .page-content, .login-container .page-content{
  min-height:calc(100vh - 270px);
}
.home-container .subjects ul.list  li{
    width: 40%;
}
}
@media screen and (min-width: 768px){
 
.content-menu{
  margin: 40px 0px 30px;
}
 .page-content .subjects .row{
  padding: 20px 0px 30px 0px;
}
.page-content h2{
  margin-top: 0;
  margin-bottom: 0;
}
 .home-container .subjects ul.list {
    margin: 10px 0px;
  }
.subjects ul.list {
    margin: 5px 0px;
  }
.home-container .subjects ul.list  li{
    /*display: table-cell;*/
    display: inline-block;   
    padding: 10px 10px 0px 0px;
    font-size: 18px;
}
.subjects ul.list  li{
    /*display: table-cell;*/
    display: inline-block;   
    padding: 10px 10px 0px 0px;
    /*font-size: 18px;*/
    width: 200px;
}
 .home-container .page-content .subjects img{
   border-radius: 50%;
   margin-right: 30px;
    height:70px;
    width:70px;
}
.subjects .subj-desc{
  padding-left: 65px;
}
.page-content .subjects img{
   border-radius: 50%;
   margin-right: 15px;
    height:50px;
    width:50px;
}
}
@media screen and (max-width: 767px){
  .page-content{
  min-height:calc(100vh - 500px);
  padding: 10px 0px 20px 0px;
}
.content-menu{
  margin: 20px 0px 20px;

}
ul.subjects{
    padding-left: 0 !important;
  }
  .subjects ul.list{
    padding-bottom: 20px;
  }
 .home-container .page-content .subjects img{
   border-radius: 50%;
   margin-right: 20px;
    height:50px;
    width:50px;
}
.page-content .subjects img{
   border-radius: 50%;
   margin-right: 20px;
   margin-top: 15px;
    height:50px;
    width:50px;
}
 .subjects .subj-desc{
  padding-left: 65px;
}
.subjects ul.list li{
    padding: 10px 0px 10px 10px ;
    /*margin-left: 30px;*/
  }
.subjects ul.list li:not(:last-child){
    border-bottom: 1px rgba(0,0,0,0.3)  solid;
  }
}

/*МАЛИНОВЫЙ*/

.mathgroup-container .subjects h2,.mathgroup-container .subjects .row:hover h2 ,
.mathgroup-container .subjects .row:hover li a{
  color:#C5065B;
}
.bigLink:hover{
  text-decoration: none;
}
/************************************************************
*************************TEST PAGE******************************
*************************************************************/
/*.nextTest{
  width: 100%;
  max-height: 200px;
  text-align: center;
  background-color: #f7f7f7;
  border-top:rgba(0,0,0,0.2) solid 1px;
  border-bottom:rgba(0,0,0,0.2) solid 1px;
  padding: 20px 0 20px 0;
}
.nextTest button{
   font-weight: 500;
   color: #fff;
   padding: 10px 20px 10px 20px;
   border-radius: 5px;
   margin-top: 10px;
}
.mathNextTest button{
  border:#C5065B;
    background-color: #C5065B;
}*/
/*.subject-container{
  margin: 40px 0px 30px;
}*/
.contents-container{
  margin: 40px 0px 20px;
font-size: 18px;
/*margin-bottom: 200px !important; */

}

.contents-container ul{
    list-style: none;
}
.theme-top a{
  font-size: 22px;
  margin-left: 40px;
}
.contents-container > li {
    padding: 10px 10px; 
}
.subject-content > .themes{
    scroll-behavior: smooth;
}
.contents-container, .contents-container > li,.subject-content a, .contents-container a{
  color: #444;
}
.subject-content ul{
    list-style: none;
}
.contents-container h3{
  /*text-align: center;*/
}
.subject-content .theme-top{
  margin-bottom: 10px;
}
.subject-content ul.themes  li {
word-wrap: break-word;
}
.subject-content ul.themes li ul.list li:hover a {
   color: #444;
}
.subject-content ul.themes  li ul.list li:hover .circle {
   background:  #A9A9A9;
}
.subject-content ul.themes  li ul.list {
   padding-left: 0 !important;
}
.subject-content .themes .list li .test-container{
  width:100%;
  border-top: 1px rgba(0,0,0,0.3)  solid;
  padding-left: 12px !important;
}
.subject-content .themes > li{
  margin-bottom: 40px;
}
.subject-content .themes >div{
  margin-bottom: 20px;
}
.subject-container ul.themes  .startTest.btn.btn-sm.btn-primary{
float:right;
font-size: 12px;
font-weight: 500;
color: #fff;
padding: 5px 10px 5px 10px;
border-radius: 5px;
margin-top: -25px !important;
}
.subject-container ul.themes  .startTest.btn.btn-sm.btn-primary:hover{
 filter: brightness(85%);
}
.circle{
  height: 25px;
  width: 25px;
  background-color: #d3d3d3;
  border-radius: 50%;
  float:left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}
.star{
  display: block;
    height: 25px;
  width: 25px;
    background-image: url(images/star.png);
  background-size: 100% 100%;
}
.subject-content ul.themes li .test-container .testName{
margin-left: 50px;
}
.page-container{
  margin-bottom: 50px;
}
.root-container{
  height: 100px;
}

/*МАЛИНОВЫЙ*/
.testpage-content h3, .testpage-content h3 a, .testpage-content a:hover,
.testpage-content .theme-top a{
    color: #01796F;
}
.testpage-content .subject-content ul.themes .startTest.btn.btn-sm.btn-primary{
    border:#01796F !important;
    background: #01796F !important;
}


@media screen and (min-width: 1023px){
  .fixed{
  margin-bottom: 200px !important; 
position: fixed;
}

.contents-container{
    /*position:fixed;*/
  margin:30px 30px;
   top:0;
   /*max-width: 25%;*/
}
.contents-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contents-container li {
    padding: 5px 0px;
}

.contents-container a {
    text-decoration: none;
    display: block;
}
 .page-content .subject-content .row{
  padding: 20px 0px 30px 0px;
}
  .subject-content ul.themes {
    margin: 30px 0px 0px 10px;
  }
  .subject-content ul.themes li{ 
    /*padding: 5px 0px 0px 0px;*/
    font-size: 18px;
}
.subject-content ul.themes li .test-container{ 
    padding: 10px 0px 10px 0px;
    font-size: 18px;
}
.subject-content ul.themes li .test-container .circle{ 
    padding: 5px 0px 0px 0px;
}
.subject-content .themes img{
   border-radius: 50%;
   margin-right: 20px;
    height:50px;
    width:50px;
}

/*МАЛИНОВЫЙ*/
/*  .testpage-content .contents-container ul.contents .toc-active{
    border-left: 3px solid #C5065B;
  }*/
/*  .testpage-content .contents-container ul.contents .toc-active a {
    color: #C5065B;
  }*/

  }
@media screen and (min-width: 768px) and (max-width: 1023px){
  .contents-container{
  text-align: center;
}
  .contents-container  li {
    display: inline-block;
    padding: 10px 20px; 
}
 .page-content .subject-content .row{
  padding: 20px 0px 30px 0px;
}
  .subject-content ul.themes {
    margin: 30px 0px 0px 10px;
    padding-left: 0 !important;
  }
.subject-content ul.themes li .test-container{ 
    padding: 15px 0px 15px 0px !important;
    font-size: 18px;
}
.subject-content .themes img{
   border-radius: 50%;
   margin-right: 20px;
    height:50px;
    width:50px;
}
}
@media screen and (max-width: 767px){
  .contents-container{
  text-align: center;
}
.scroll-menu{
  padding-left: 0 !important;
}
    .contents-container  li {
    display: inline-block;
    padding: 10px 20px; 
}
  .subject-content ul.themes{
    /*display: none;*/
    padding-bottom: 20px;
    padding-left: 0 !important;
  }
 .subject-content .themes img{
   border-radius: 50%;
   margin-right: 20px;
    height:50px;
    width:50px;
}
.subject-content ul.themes li .test-container{ 
    padding: 15px 0px 15px 0px !important;
    font-size: 18px;
}
}
/************************************************************
*************************Modal******************************
*************************************************************/
.modal-title{
  text-align: center;
  margin: 5px 0;
  font-size: 26px;
}
.modal-body{
  height:60vh;
    width:70%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
.modal-body > div{
  margin: 20px;
}
.modal-body label{
   margin-left: 10px;
   padding-left: 10px;
   width:100%;
}
.modal-body label:hover, .modal-body label:hover input{
   /*color:#01796F;*/
   background: #BBD7E4;
}
.modal-body .Answers input{
  margin-right: 10px;
}
.modal-footer button{
margin-right: 15%;
  text-align: center;
  padding: 10px 0px 10px 0px; 
  border-radius: 5px;
  width:150px;
  height: 40px;
  margin-bottom: 20px;
  color: #fff;
  background: #01796F; 
  border: #01796F 1px solid;
}
.modal-footer button:hover{
  color: #fff;
  background: #01796F; 
  border: #01796F 1px solid;
  filter: brightness(85%);
}
.modal-footer button:focus, .modal-footer button:active{
  color: #fff;
  background: #01796F !important; 
  border: #01796F 1px solid;
}

/************************************************************
*************************LOGIN PAGE******************************
*************************************************************/


.login-container .container, .registration-container .container{
  max-width:320px;
  margin:20px auto 20px auto;
  text-align: center;
}
.login-container h3, .registration-container h3{
  padding-bottom: 15px;
  font-size: 20px;
  text-align: center;

}
.login-container .page-content{
  padding-top:0px;
  /*padding-bottom: 0px; */
}
.registration-container .page-content{
  padding-top:0px;
  padding-bottom: 0px; 
}
.login-container .page-content a, .registration-container .page-content a{
  color: #4682B4;
}
.login-container .page-content a:hover, .registration-container .page-content a:hover{
  filter: brightness(85%);
  color: #191970;
}
.social-container{
  list-style: none;
  padding-bottom: 15px;
  padding-left: 0;
}

.social-container li{
  display: inline-block;
    padding-right: 15px;
    padding-bottom:  10px;
}
.social-container li img{
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.account-container .login-form input{
  width:95%;
  height: 40px;
  padding: 5px 20px 5px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   background: #ffffff; 
   outline: none; 
   color: #444; 
}
.account-container .login-form input:focus {
  color: #000000;
  border: 1px solid #01796F;
}
.account-container .login-form button{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  width:95%;
  height: 40px;
  margin-bottom: 20px;
  color: #fff;
  background: #01796F; 
  border: #01796F 1px solid;
}
.account-container .login-form button:hover{
  filter: brightness(85%);
}
.account-container .extra-links .separator{
  color: #a9a9a9;  
}

.account-container .extra-links{
  font-size: 14px;
}
.account-container .signup-form label{
  width:45%;
  /*height: 40px;*/
  float: left;
  font-weight: 500;
   color: #444; 
   padding-top: 10px;
   text-align: left;
}
.account-container .signup-form input{
   /*width:50%;*/
  height: 40px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
   border: 1px solid #cccccc; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   background: #ffffff; 
   outline: none; 
   color: #444; 
}
.account-container .signup-form input:not(.locality){
  width:50%;
  }
  .account-container .signup-form input.locality{
  width:100%;
  }
.account-container .signup-form input:focus {
  color: #000000;
  border: 1px solid #01796F;
}
.account-container .signup-form button{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  width:95%;
  height: 40px;
  margin-bottom: 20px;
  color: #fff;
  background: #01796F; 
  border: #01796F 1px solid;
}
.account-container .signup-form button:hover{
  filter: brightness(85%);
}
@media screen and (min-width: 1024px) and (max-width: 1239px){
 .account-container .extra-links .separator{
  padding: 0 10px; 
}
.account-container .extra-links a{
    padding-bottom: 10px;
}
  }
@media screen and  (max-width: 1023px){
 .account-container .extra-links .separator{
  display: none;
}
.account-container .extra-links a{
    padding: 40px !important;
    margin-top: 40px !important;
}
  }

/************************************************************
*************************PROFILE PAGE******************************
*************************************************************/
.profile-page-container {
  background: #eee;
}
.profile-page-container .container{
  background: #fff;
  border-radius: 5px;
  padding: 30px 10px;
  /*margin:10px auto;*/
}

.page-title{
  text-align: center;
}
.profile-title{
  text-indent: 2em;
  padding-bottom: 20px;
}
.profile-page-container ul{
   list-style: none;
}

.table-head{
  margin: 10px 0px 10px 10px;
  background: #01796F;
  color: #fff;
  padding: 20px 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  /*text-align: center;*/
}
.table-head .topicName{
  padding-left: 50px;
}
.subjects-result, .topics{
    padding-left: 0;
    padding-top: 20px;
}
.subjects-result h4{
  text-indent: 2em;
  font-weight: 600 !important;
}
.result-row{
  margin-top: 30px; 
}

.subjects-result{
  border:1px solid rgba(0,0,0,0.2);
  border-radius:10px;
  font-weight: 600;
}
.result-row{
   padding:10px 1%;
}
.result-row li{
   display: inline-block;   
}
.subjects-result, .topics{
    padding: 0px 20px;
}
.subjects-result ul.list>li{
    border-top: 1px rgba(0,0,0,0.3)  solid;
  }
  .topics .rightAnswers{
    padding-left: 10px;
  }

.c100{
 font-size: 90px !important;
}
    
.passed{
  color: #01796F;
}
.notPassed{
  color: #DC143C;
}
.table-head {
    padding:10px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    margin: 0px auto 10px auto;
}

@media screen and (min-width: 1240px){

  .profile-page-top{
  height: 130px;
}
  .table-head {
    width:1150px;
}
.fixedTableHead{
  top:0;
  position:fixed;
}
.percCircle{
  margin: -35px 40px 0 40px !important;   
}
.isPass{
    padding-left: 130px;
  }
} 
@media screen and (min-width: 1024px) and (max-width: 1239px){
   .table-head {
    min-width:950px;
    max-width:1200px;
}
.fixedTableHead{
  top:0;
  position:fixed;
}
.percCircle{
  margin: -35px 40px 0 40px !important;   
}
.isPass{
    padding-left: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
   .table-head {
    min-width:730px;
    max-width:1200px;
}
.percCircle{
  margin: -35px 40px 0 50px !important;   
}
.isPass{
    padding-left: 90px;
  }
}

@media screen and (max-width: 767px){
   .table-head {
    max-width:767px;
}
.percCircle{
  margin: -35px 20px 0 20px !important;   
}
.isPass{
    padding-left: 20px;
  }
}
/************************************************************
*************************Footer******************************
*************************************************************/
#scrollup {
position: fixed; /* фиксированная позиция */
opacity: 0.8; /* прозрачность */
padding: 15px 10px 10px; /* отступы */
/*background: #aaa;*/
border-radius: 5px; /* скругление углов */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
float:right;
right:  30px; /* отступ слева */
bottom: 130px; /* отступ снизу */
display: none; /* спрятать блок */
cursor: pointer;
 scroll-behavior: smooth;
}
#scrollup img{
  width:50px;
  height:50px;
}

#footer{
    background: #314453 repeat scroll left top;
}
footer{
/*height:100px;*/
width: 100%;
  bottom: 0;
}
.footer1 a:hover , .footer-bottom a:hover {
    color: #48d1cc;
}
.footer1{
  padding: 0px 0px 10px 0px;
    color: #fff;
}
.title-widget {
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom:25px;
}

.second-column ul, .third-column ul{
    list-style: outside none none;
    padding-left: 0;
}
.second-column li, .third-column li{
    line-height: 30px;
}         
.social-fb:hover, .social-tw:hover, .social-gp:hover , .social-em:hover{
    color: #fff;
}
.nomargin { margin:0px; padding:0px;}

.footer1 a, .copyright,.design, .design a {
  color: #fff;

}

.footer-bottom {
    min-height: 30px;
    width: 100%;
    border-top: rgba(255,255,255,0.5) 1px solid;
}
.copyright, .design, .social-icons {
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    /*text-align: right;*/
}
@media screen and (min-width: 1240px){

}
@media screen and (min-width: 1024px) and (max-width: 1239px){

}
@media screen and (min-width: 768px) and (max-width: 1023px){

}
@media screen and (max-width: 767px){
   .first-column, .second-column{
    margin: 10px 0 20px 0;
   }
   footer, .footer-bottom{
    text-align: center;
   }
}
/************************************************************
*************************Footer******************************
************************************************************